<br>
<br>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="jumbotron text-center">
      <h1>Welcome to favLang!</h1>
      <p>Please type the name of the Github user you wish to find more about below:</p>
      <%= form_tag("/github_users/search", method: "get") do %>
        <%= label_tag(:name, "Search for:") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag "Search", class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div><!-- /.jumbotron -->

  </div><!-- /.col-xs-10 -->
</div><!-- /.row -->
