<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Welcome to favLang!</h1>
      <p>Please type the user you wish to find more about below:</p>
      <%= render partial: "user_search", locals: { user: @user } %>
    </div><!-- /.jumbotron -->

  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->
